<!--
	Matheus Pereira
	teste-do-mercado
	v1.0
	29/03/2016
 -->
<!DOCTYPE html>
<html lang="pt-BR">
	<head>
	
		<!-- CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		
		<!-- JavaScript -->
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
		<!-- AngularJS -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<!-- Bootstrap -->		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- Controller -->
		<script src="controller.js"></script>
		<!-- Script local -->
		<script>
			$(function() {
				$('#txtPreco').maskMoney();
			})
		</script>
		
		<title>
			teste-do-mercado
		</title>
		
	</head>
	<body>
		<div class="container" ng-app="myApp" ng-controller="myCtrl">
		
			<hr/>
			
			<form role="form" name="frmNegociacao" id="frmNegociacao">
				
				<div class="row">
					<div class="col-sm-offset-4 col-sm-2">
						Código da Mercadoria:
						<input type="number" class="form-control" name="txtCodigoMercadoria" id="txtCodigoMercadoria" ng-model="item.codigoMercadoria"/>
					</div>
					<div class="col-sm-2">
						Tipo da Mercadoria:
						<input type="text" class="form-control" name="txtTipoMercadoria" id="txtTipoMercadoria" ng-model="item.tipoMercadoria"/>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-offset-4 col-sm-4">
						Nome da Mercadoria:
						<input type="text" class="form-control" name="txtNome" id="txtNome" ng-model="item.nome"/>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-offset-4 col-sm-2">
						Quantidade:
						<input type="number" class="form-control" name="txtQuantidade" id="txtQuantidade" ng-model="item.quantidade"/>
					</div>
					<div class="col-sm-2">
						Preço:
						<input type="number" class="form-control" name="txtPreco" id="txtPreco" ng-keyup="mascaraMoeda(this.value);" ng-model="item.preco"/>
					</div>					
				</div>
				
				<div class="row">
					<div class="col-sm-offset-4 col-sm-2">
						Tipo do Negócio:
						<select class="form-control" name="txtTipoNegocio" id="txtTipoNegocio" ng-model="item.tipoNegocio">
							<option value="Compra">Compra</option>
							<option value="Venda">Venda</option>
						</select>
					</div>
				</div>
				
				<br/>
				
				<div class="row" align="center">
					<button class="btn btn-primary" name="btnAdicionar" id="btnAdicionar" ng-click="adicionarItem();limparCampos()">Adicionar</button>
					<button class="btn btn-primary" name="btnLimpar" id="btnLimpar" ng-click="limparCampos()">Limpar</button>
				</div>
			
			</form>
			
			<hr/>
			
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Código da Mercadoria</th>
							<th>Tipo da Mercadoria</th>
							<th>Nome da Mercadoria</th>
							<th>Quantidade</th>
							<th>Valor Total (Unitário)</th>
							<th>Tipo do Negócio</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in itens">
							<td>{{ item.codigoNegociacao }}</td>
							<td>{{ item.codigoMercadoria }}</td>
							<td>{{ item.tipoMercadoria }}</td>
							<td>{{ item.nome }}</td>
							<td>{{ item.quantidade }}</td>
							<td>{{ item.valorTotal }} ({{ item.preco }})</td>
							<td>{{ item.tipoNegocio }}</td>
							<td><span style="cursor:hand" class="glyphicon glyphicon-trash"  aria-hidden="true" ng-click="excluirItem($index)"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
	
	</body>
</html>